<form id="search-form">
  <header class="py-5">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold text-neptune drop-shadow-lg">
        Search Exercises
      </h1>
    </div>
  </header>
  <div class="container mx-auto border rounded-lg bg-white p-10 shadow-lg">
    <div class="radio-group">
      <label><input class="mr-1" type="radio" id="name-radio" name="search-criteria" value="name" />Name</label>
      <label><input class="mr-1 ml-3" type="radio" id="type-radio" name="search-criteria" value="type" />Type</label>
      <label><input class="mr-1 ml-3" type="radio" id="muscle-radio" name="search-criteria"
          value="muscle" />Muscle</label>
    </div>

    <div class="search-bar flex pt-5" id="name-search">
      <div class="w-full flex items-center">
        <input id="search-term" type="text" class="w-full rounded-lg border border-gray-400 p-2"
          placeholder="Search ..." />
        <button class="ml-2 rounded-lg bg-blue-500 p-2 text-white hover:bg-blue-600">
          Search
        </button>
      </div>
    </div>

    <div class="dropdown pt-5" id="type-dropdown">
      <select class="w-full rounded-lg border border-gray-400 p-2">
        <option value="">Select type</option>
        <option value="cardio">Cardio</option>
        <option value="olympic_weightlifting">
          Olympic Weightlifting
        </option>
        <option value="plyometrics">Plyometrics</option>
        <option value="powerlifting">Powerlifting</option>
        <option value="strength">Strength</option>
        <option value="stretching">Stretching</option>
        <option value="strongman">Strongman</option>
      </select>
    </div>

    <div class="dropdown pt-5" id="muscle-dropdown">
      <select class="w-full rounded-lg border border-gray-400 p-2">
        <option value="">Select muscle</option>
        <option value="abdominals">Abdominals</option>
        <option value="abductors">Abductors</option>
        <option value="adductors">Adductors</option>
        <option value="biceps">Biceps</option>
        <option value="calves">Calves</option>
        <option value="chest">Chest</option>
        <option value="forearms">Forearms</option>
        <option value="glutes">Glutes</option>
        <option value="hamstrings">Hamstrings</option>
        <option value="lats">Lats</option>
        <option value="lower_back">Lower back</option>
        <option value="middle_back">Middle back</option>
        <option value="neck">Neck</option>
        <option value="quadriceps">Quadriceps</option>
        <option value="traps">Traps</option>
        <option value="triceps">Triceps</option>
      </select>
    </div>
  </div>
</form>


<div>
  {{!-- Search Results --}}
  <p class="mx-8 text-lg pt-6 pb-3 text-gray-800">Search Results</p>
  <div id="search-results" class="border-t-8 pt-10 flex justify-evenly pb-10">

    {{!-- Card Template --}}
    <div id="exercise-card" class="card flex overflow-x-hidden cursor-pointer">
      <div class="inline-flex pointer-events-none">
        <div class="w-64 h-64 bg-gray-100 shadow-lg rounded-lg p-6">
          <h2 class="text-lg font-medium mb-4 user-select-none">{{name}}</h2>
          <p class="text-gray-600">{{type}}</p>
        </div>
      </div>

      <div class="flex justify-center">
        <input type="image" src="/images/add-to-favorites.png" id="add-favorites" class="h-10 absolute"
          data-id="{{id}}">
        </input>
      </div>

      <!-- Details Card (initially hidden) -->
      <div id="overlay" class="card fixed top-0 left-0 w-full h-full flex items-center justify-center"
        style="display: none;">
        <div class="pointer-events-none">
          <div class="w-64 h-64 bg-white shadow-lg rounded-lg p-6">
            <h2 id="name" class="text-lg font-medium mb-4">{{name}}</h2>
            <p id="type" class="text-gray-600">{{type}}</p>
            <p id="muscle" class="text-gray-600">{{muscle}}</p>
            <p id="equipment" class="text-gray-600">{{equipment}}</p>
            <p id="difficulty" class="text-gray-600">{{difficulty}}</p>
            <p id="instructions" class="text-gray-600">{{instructions}}</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  {{!-- Favorite Results --}}
  <p class="mx-8 text-lg pt-6 pb-3 text-gray-800">Favorites Results</p>
  <div id="favorite-results" class="border-t-8 pt-10 flex justify-evenly pb-10">

    {{!-- Card Template --}}
    <div id="exercise-card" class="card flex overflow-x-hidden cursor-pointer" style="width: 80%">
      <div class="inline-flex pointer-events-none">
        <div class="w-64 h-64 bg-gray-100 shadow-lg rounded-lg p-6">
          <h2 class="text-lg font-medium mb-4 user-select-none">{{name}}</h2>
          <p class="text-gray-600">{{type}}</p>
        </div>
      </div>

      {{!-- Details Card (initially hidden) --}}
      <div id="overlay" class="card fixed top-0 left-0 w-full h-full flex items-center justify-center"
        style="display: none;">
        <div class="pointer-events-none">
          <div class="w-64 h-64 bg-white shadow-lg rounded-lg p-6">
            <h2 id="name" class="text-lg font-medium mb-4">{{name}}</h2>
            <p id="type" class="text-gray-600">{{type}}</p>
            <p id="muscle" class="text-gray-600">{{muscle}}</p>
            <p id="equipment" class="text-gray-600">{{equipment}}</p>
            <p id="difficulty" class="text-gray-600">{{difficulty}}</p>
            <p id="instructions" class="text-gray-600">{{instructions}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{!-- Random Results --}}
  <p class="mx-8 text-lg pt-6 pb-3 text-gray-800">Recommended Exercises</p>
  <div id="random-results" class="border-t-8 pt-10 flex justify-evenly pb-10">

    {{!-- Card Template --}}
    <div id="exercise-card" class="card flex overflow-x-hidden cursor-pointer">
      <div class="inline-flex pointer-events-none">
        <div class="w-64 h-64 bg-gray-100 shadow-lg rounded-lg p-6">
          <h2 class="text-lg font-medium mb-4 user-select-none">{{name}}</h2>
          <p class="text-gray-600">{{type}}</p>
        </div>
      </div>

      <div class="flex justify-center">
        <input type="image" src="/images/add-to-favorites.png" id="add-favorites" class="h-10 absolute"
          data-id="{{id}}">
        </input>
      </div>

      <!-- Details Card (initially hidden) -->
      <div id="overlay" class="card fixed top-0 left-0 w-full h-full flex items-center justify-center"
        style="display: none;">
        <div class="pointer-events-none">
          <div class="w-64 h-64 bg-white shadow-lg rounded-lg p-6">
            <h2 id="name" class="text-lg font-medium mb-4">{{name}}</h2>
            <p id="type" class="text-gray-600">{{type}}</p>
            <p id="muscle" class="text-gray-600">{{muscle}}</p>
            <p id="equipment" class="text-gray-600">{{equipment}}</p>
            <p id="difficulty" class="text-gray-600">{{difficulty}}</p>
            <p id="instructions" class="text-gray-600">{{instructions}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/js/favorites.js"></script>